<h1 style="background-color:SteelBlue;">Update Your Information</h1>

  <h2>Edits for <%= @student.name %></h2>
  
  
  <form method="POST" action="/students/<%=@student.id%>">
  <input type="hidden" name="_method" value="PATCH"> 
  
  
  <label>Student Name:</label>
    <br></br>
    <input type="text" name="student[name]" id="student_name" value="<%= @student.name%>">
   
  
  <br></br>
  <label>Grade</label>
  <br></br>
  <input type="integer" name="student[grade]" id="student_grade" value="<%= @student.grade%>">
    
  <input type="submit" value="Edit Student">
  </form>
  