<h1 style="background-color:SteelBlue;"> Login Here </h1> 
<% if flash[:message] %>
<%= flash[:message] %> 
<% end %> 

<form method="post" action="/login">
  Username:  <input type="text" name="student[username]" required> <br>
   Password: <input type="password" name="student[password]"required> <br>
    <input type="submit" value="login"required> 
</form>