<h1> Welcome to ClassApp </h1>

<h2>Sign up here </h2>

<a href="/students/login"> Or Login here </a> 
<br></br>



<form method="post" action="/signup">
  Username:  <input type="text" name="student[username]" required> <br>
  Email:  <input type="email" name="student[email]" required> <br>
   Password: <input type="password" name="student[password]"required> <br>
   Name: <input type="text" name="student[name]" required> <br>
   Grade: <input type="number" name="student[grade]"required> <br>
    <input type="submit" value="sign up"required> 
</form>