<h1 style="background-color:SteelBlue;"> Welcome to ClassApp! </h1>
<% if flash[:message] %>
<%= flash[:message] %> 
<% end %> 
<br>

  <% if @error %>
  <%= @error %> 
  <% end %> 

<a href="/students/login"> <br>Log in here if you have an account. </a> 
<br></br>

<h2>Sign up here </h2>
<form method="post" action="/signup">
  Username:  <input type="text" name="student[username]" required> <br>
  Email: &nbsp; &nbsp; &nbsp; &nbsp;<input type="email" name="student[email]" required> <br>
   Password:  <input type="password" name="student[password]"required> <br>
   Name: &nbsp; &nbsp; &nbsp; <input type="text" name="student[name]" required> <br>
   Grade: &nbsp; &nbsp; &nbsp; <input type="number" name="student[grade]"required> <br>
    <input type="submit" value="sign up"required> 
</form>