<h2 style="background-color:SteelBlue;"> Your Course Information</h2>

<% if is_logged_in?%>
<h3> Welcome, <%= current_student.name %>. You are logged in. </h3>

<% end %> 

<a href="/courses/new">Add a new course here</a></h4>
<br></br>
<h3> Below are all of the current courses: </h3>
<h4> Click below a course to edit the information. </h4> <br>
<%if @courses %>
<% @courses.each do |course| %> 
    <h4> <%=course.name %> </h4> 
     <% if course.student == current_student%>
    <a href="/courses/<%=course.id%>/edit"> Edit Your Course Here</a> 
    <% end %> 
    <% end %> 
    
<% end %> 

<a href="/students/<%=current_student.id%>/edit">Edit your info here</a> 
<a href="/logout"> <br> <br>
 Log out here </a> 

