<h1 style ="background-color:SteelBlue;"> Course Index</h1> 

<% if is_logged_in?%>
<h3> Welcome, <%= current_student.name %>. You are logged in. </h3>

  

<br> </br>
    <a href="/courses/new">Add a new course here</a></h4>
    <br></br>
    <% end %>

    <h3> Below are all of the current courses </h3>
<% @courses.each do |course| %> 
    <h5> <%=course.name %> </h5> 
    <% end %> 
    <br><br> 
    <a href="/logout"> Log out here </a> 
   

  

 

