<h1> Show Page</h1>
Name: <%=@course.name%> 
<a href="/courses/<%= @course.id %>/edit"> Edit this course </a> 

<form action="/courses/<%= @course.id %>" method="POST"> 
<input type="hidden" value="DELETE" name="_method">
<input type= "submit" value="Delete"> 
</form> 